
/* ==================================================================== */
/* HERO */
/* -------------------------------------------------------------------- */

section.hero {
  width: 100%;
  height: 240px;
  position: relative;
  z-index: 0;
  background-image: url(../images/slider/hero-1.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto 50px;
  @media (min-width: 600px) {
    height: 360px;
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1024px) {
  }
  @media (min-width: 1240px) {

  }
  
  &::after {
    @include gradcover;

  }
  .section-container {
    width: 100%;
    position: relative;
    

    .hero-catch {
      position: absolute;
      top: 40px; 
      width: 70%;
      margin: 0 auto;
      right: 0;
      left: 0;
      text-align: center;
      z-index: 2;

      @media (min-width: 425px) {
        margin-top: 20px;
      }
      @media (min-width: 768px) {
        
      }
      @media (min-width: 1024px) {
        margin-top: 50px;
        width: 85%;
      }

      @media (min-width: 1440px) {
        width: 1200px;
      }



      #hero-heading {
        top: 25%;
        right: 0;
        left: 0;
        text-align: center;
        z-index: 10;
        line-height: 1.6;
        margin-bottom: 8px;
        font-size: 28px;
        color: $white;
        @media (min-width: 768px) {
          font-size: 40px;
        }


        span {
          color: $white;
          display: inline-block;
          padding: 2px 16px;
          background: rgba(71,150,100,.7);
          border-radius: 4px;
          font-size: 16px;
          margin: 0 0 4px 0;
          @media (min-width: 425px) {
            font-size: 24px;
          }
          @media (min-width: 1024px) {
            font-size: 40px;
          }
        }

      }
      #hero-subheading {
        position: relative;
        color: $white;
        display: none;
        padding: 2px 0 2px 16px;
        border-radius: 4px;
        font-size: 16px;
        margin: 0 0 4px 0;
        @media (min-width: 768px) {
          display: block;
        }
        span {
          display: inline-block;
          padding: 2px 16px;
          background: rgba(239,239,231,.75);
          border-radius: 4px;
          font-size: 16px;
          margin: 0 0 4px 0;
          @media (min-width: 1024px) {
            font-size: 20px;
          }
        }

      }
      #hero-btn {
        display: inline-block;
        padding: 4px 8px;
        color: $white;
        border-color: $white;
        font-size: 18px;

        &:hover {
          border-color: $primary;
        }
        @media (min-width: 768px) {
          font-size: 24px;
          margin-top: 30px;
          display: inline-block;
        }
        img {
          display: inline-block;
          width: 10px;
        }

      }

    }

  }
}

