
$white: #ffffff;
$gray: rgb(239,239,231);
$orangegray: #f9f1ea;
$darkgray: #808080;
$black: #333333;
$primary: #0088ba;
$primary-light: #89cde5;
$primary-dark: #006c93;
$secondary: #c61f4c;
$tri: #d2e0aa;
