@import 'colors';
@import '../base/mixin';

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  background-color: $white;
  color: $black;
  width: 100%;
  border: 1px solid $primary;
  border-radius: 4px;
  font-size: 18px;
  padding: 1%;
}

.wpcf7 input[type="submit"] {
  border: 1px solid $primary;
  background: transparent;
  padding: 6px 12px;
  color: $primary;
  border-radius: 4px;
  @include transition;
  display: block;
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
  @media (min-width: 425px) {
    font-size: 18px;
  }
  @media (min-width: 1024px) {
    font-size: 21px;
  }
  @media (min-width: 1440px) {
    font-size: 26px;
  }
  &:hover {
    background: $primary;
    color: $white;
    @include transition;
  }
}