$sp1: 'min-width: 375px';
$sp2: 'min-width: 420px';
$tab1: 'min-width: 600px';
$tab2: 'min-width: 768px';
$pc1: 'min-width: 1024px';
$pc2: 'min-width: 1280px';
$pc3: 'min-width: 1440px';
$pc4: 'min-width: 2560px';